#snes-play-btn {
  display: inline-flex;            
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
                  
  margin-bottom: 6px;
  background-color: #cbd1cc;      
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover #snes-icon {
  outline: none;
  opacity: 1;
}


#snes-play-btn:focus {
  outline: none;
}

#snes-icon {
  width: 40px;                             
  height: 40px;                   
  object-fit: contain;
  outline: none;
  opacity: 0.7;
  
  
}

.custom-button#gb-btn {
  display: inline-flex;    
  align-items: center;     
  justify-content: space-between; 
  gap: 20px;               
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #dae0dc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #939494;
}

#gb-icon {
  outline: none;
  width: 40px;             
  height: 40px;            
  opacity: 0.8;
  transition: opacity 0.2s ease;
  
}

.custom-button#segagenesis-btn {
  display: inline-flex;           
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #00FFFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


#genesis-icon {
  outline: none;
  width: 40px;                    
  height: 40px;                   
  opacity: 0.8;
  transition: opacity 0.2s ease;
  
  
}


.custom-button:hover {
  background-color: #818580;
  color: #ffffff;
}


.custom-button:hover #genesis-icon {
  outline: none;
  opacity: 1;
}

.custom-button#ruffle-btn {
  display: inline-flex;           
  align-items: center;
  justify-content: space-between;
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #cbd1cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #818581;
}

.custom-button#n64-btn {
  display: inline-flex;           
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #dae1dc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.custom-button#nds-btn {
  display: inline-flex;           
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #dae2dc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.custom-button#regular-btn {
  display: inline-flex;           
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #dae3dc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.custom-button:hover {
  background-color: #818585; 
}

.custom-button#license-btn {
  display: inline-flex;           
  align-items: center;            
  justify-content: space-between; 
  gap: 20px;                      
  
  margin-bottom: 6px;
  padding: 10px 20px;
  background-color: #FF0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.custom-button#license-btn:hover { 
  background-color: #8B0000;
}
